<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>网易严选 - 以严谨的态度，为中国消费者甄选天下优品</title>
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="./dist/css/swiper.min.css">
  <!--<link rel="stylesheet" href="http://at.alicdn.com/t/font_661011_clyzu4sf9mxtj4i.css">-->
  <link rel="stylesheet" href="css/index.css">
  <meta name="viewport" content="initial-scale=1.0, maximum-scale=0.5, minimum-scale=0.5, user-scalable=no viewport-fit=cover"/>
</head>
<body>
  <div id="app">
    <!--<header class="index_header">
      <div class="header_main">
        <div class="main_content">
          <div class="main_top">
            <a class="top_title"></a>
            <div class="top_input">
              <i></i>
              <span class="input_search">搜索商品, 共9878款好物</span>
            </div>
          </div>
        </div>
        <nav class="header_bottom">

        </nav>
      </div>
    </header>-->
    <footer class="footer_guide border-1px">
      <a href="javascript:;" class="guide_item active">
        <i class="iconfont icon-all icon-U"></i>
        <div class="icon_name">首页</div>
      </a>

      <a href="javascript:;" class="guide_item">
        <i class="iconfont icon-all icon-shiwu"></i>
        <div class="icon_name">识物</div>
      </a>

      <a href="javascript:;" class="guide_item">
        <i class="iconfont icon-all icon-dingdan1"></i>
        <span class="icon_name">分类</span>
      </a>
      <a href="javascript:;" class="guide_item">
        <i class="iconfont icon-all icon-gouwuche"></i>
        <span class="icon_name">购物车</span>
      </a>
      <a href="javascript:;" class="guide_item">
        <i class="iconfont icon-all icon-wode"></i>
        <span class="icon_name">个人</span>
      </a>
    </footer>
  </div>
</body>
<script type="text/javascript" src="js/index.js"></script>
<!--解决点击响应延时0.3s的问题-->
<script src="https://as.alipayobjects.com/g/component/fastclick/1.0.6/fastclick.js"></script>
<script>
  window.onload = function () {
    document.addEventListener('touchstart',function (ev) {
      ev = ev || event;
      ev.preventDefault();
    })

    //rem适配
    ;(function(){
      const styleNode = document.createElement("style");  //创建style标签节点
      const w = document.documentElement.clientWidth/16;  //根据不同设备视口的宽度定义html标签字体大小
      styleNode.innerHTML = "html{font-size:"+w+"px!important}";  //动态设置根标签的字体大小
      document.head.appendChild(styleNode);  //网页面head中插入style标签节点
    })()

    if ('addEventListener' in document) {
      document.addEventListener('DOMContentLoaded', function() {
        FastClick.attach(document.body);
      }, false);
    }
    if(!window.Promise) {
      document.writeln('<script src="https://as.alipayobjects.com/g/component/es6-promise/3.2.2/es6-promise.min.js"'+'>'+'<'+'/'+'script>');
    }

  }




</script>
</html>
