<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>shiwu</title>
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
</head>
<body>
  <div id="shiwu">
    <div class="shiwu_header">
      <span></span>
      <span>网易严选</span>
      <span></span>
      <span></span>
    </div>
    <div class="shiwu_wapper"></div>
    <div class="shiwu_container"></div>
    <div class="shiwu_title"></div>
    <div class="shiwu_item"></div>
  </div>
</body>
</html>
