@media only screen and (-webkit-device-pixel-ratio: 2) {
  .border-1px::before {
    transform: scaleY(0.5);
  }
}
@media only screen and (-webkit-device-pixel-ratio: 3) {
  .border-1px::before {
    transform: scaleY(0.333333);
  }
}
html {
  padding: 0;
  margin: 0;
}
* {
  box-sizing: border-box;
  overflow: hidden;
}
#app {
  width: 100%;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  background: #f4f4f4;
}
#app .index_header {
  height: 245px;
  width: 100%;
}
#app .index_header .header_main {
  position: fixed !important;
  left: 0;
  top: 0;
  width: 100%;
  height: 245px;
}
#app .index_header .header_main .main_content {
  background-color: #fff;
  position: relative;
  height: 100%;
}
#app .index_header .header_main .main_content .main_top {
  display: flex;
  padding: 0.21333rem 0.4rem;
  flex-flow: row nowrap;
  -webkit-box-align: center;
  height: 145.85px;
  box-sizing: border-box;
}
#app .index_header .header_main .main_content .main_top .top_title {
  width: 1.84rem;
  height: 0.53333rem;
  background-image: url("//yanxuan-static.nosdn.127.net/hxm/yanxuan-wap/p/20161201/style/img/icon-normal/indexLogo-11d65342f9.png");
  display: inline-block;
  margin-right: 0.26667rem;
  background-size: cover;
  background-position: center;
  top: 0;
  bottom: 0;
  margin: auto 0;
}
#app .index_header .header_main .main_content .main_top .top_input {
  -webkit-box-flex: 1;
  flex-grow: 1;
  width: 881.86px;
  height: 92.83px;
  background-color: #ededed;
  position: relative;
  box-sizing: border-box;
  border-radius: 5px;
}
#app .index_header .header_main .main_content .main_top .top_input .input_search {
  width: 505.3px;
  height: 69.6px;
  color: #666;
  font-size: 0.37333rem;
  margin-bottom: 0.5rem;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  line-height: 69.6px;
}
#app .footer_guide {
  position: relative;
  position: fixed;
  z-index: 100;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  width: 100%;
  height: 2.09067rem;
  display: flex;
  border-top: 1px solid #d9d9d9;
  background-color: #fafafa;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
}
#app .footer_guide::before {
  content: '';
  position: absolute;
  z-index: 200;
  left: 0;
  top: 0;
  width: 100%;
  height: 1px;
  background-color: #e4e4e4;
}
#app .footer_guide .guide_item {
  display: flex;
  flex: 1;
  text-align: center;
  flex-direction: column;
  align-items: center;
  margin: 5px;
  color: #999;
  height: 100%;
  box-sizing: border-box;
  margin-top: 0.6rem;
}
#app .footer_guide .guide_item.active {
  color: #f00;
}
#app .footer_guide .guide_item .iconfont {
  display: inline-block;
  width: 0.66667rem;
  height: 0.66667rem;
  background-size: 100%;
  background-repeat: no-repeat;
  vertical-align: middle;
}
#app .footer_guide .guide_item .iconfont.icon-all {
  display: inline-block;
  vertical-align: middle;
  background-image: url("//yanxuan-static.nosdn.127.net/hxm/yanxuan-wap/p/20161201/style/img/sprites/tabBar-s73fb615cb3-195f39fd2b.png");
  background-repeat: no-repeat;
  width: 0.85333rem;
  height: 0.85333rem;
}
#app .footer_guide .guide_item .iconfont.icon-U {
  background-position: 0.03rem -4.35rem;
}
#app .footer_guide .guide_item .iconfont.icon-shiwu {
  background-position: 0.03rem -7.52rem;
}
#app .footer_guide .guide_item .iconfont.icon-dingdan1 {
  background-position: 0.03rem -3.25rem;
}
#app .footer_guide .guide_item .iconfont.icon-gouwuche {
  background-position: 0.03rem -1.15rem;
}
#app .footer_guide .guide_item .iconfont.icon-wode {
  background-position: 0.03rem -9.65rem;
}
#app .footer_guide .guide_item .icon_name {
  display: inline-block;
  margin-top: 0.09333rem;
  font-size: 0.512rem;
  line-height: 1;
}
